<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 html">
<a href="" ng-click="$ctrl.autocompletion = true" ng-show="$ctrl.autocompletion!= true" class="btn button-custom btn-custom-alternative" >OR CHECK ONE INSTEAD</a>
  <span class="twitter-typeahead" ng-show="$ctrl.autocompletion== true">
    <input class="typeahead tt-input form-control" ng-show="$ctrl.autocompletion == true" type="text" placeholder="Type a country..." autocomplete="off" spellcheck="false" dir="auto" style="color: black">
   </span>
</div>
