<section id="about" style="padding-top:20px !important">
	<div class="container" id="contact">
		<div class="row text-center header animate-in" data-anim-type="fade-in-up">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

			<h3>About this site </h3>
			<hr />

			</div>
		</div>
		<div class="row animate-in" data-anim-type="fade-in-up">
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
				<div class="contact-wrapper">
					<h3>Social NRavel</h3>
					<p>
					Subscribe to our social networks to get updates about the site and find out when the app comes out!
					</p>
					<div class="social-below">
					<a href="https://www.facebook.com/nravelpage" target="_blank" class="btn button-custom btn-custom-two" > Facebook</a>
					<a href="#" class="btn button-custom btn-custom-two" > Twitter</a>
					<a href="#" class="btn button-custom btn-custom-two" > Google +</a>
					</div>
				</div>

			</div>
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
				<div class="contact-wrapper">
					<h3>Any bug or missing content?</h3>
					<h4><strong></strong> </h4>
					<div ng-hide="report">
						<h4>Please report it by clicking</h4>
						<h4 ng-click="sendReview()" style="cursor:pointer"><strong> here </strong></h4>
					</div>
					<div ng-show="report">
						<h4></h4><br>
						<h4><strong>Thank you for your input!</strong></h4>
					</div>
				</div>

			</div>
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
				<div class="contact-wrapper">
				<h3>About </h3>
				<h4>This site based on public web API's is intended to be for reference only. </h4>
				<h4></h4>
				<div class="footer-div" >
				&copy; 2016 nravel.com
				</div>
				</div>
			</div>
		</div>
	</div>
</section>
