
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-8740674019368218",
      enable_page_level_ads: true
    });
  </script>

<menu></menu>

<!--HOME SECTION START-->
<div id="home" ng-init="$ctrl.loadRandomCountry()" style="
    padding-bottom: 0px;
    padding-top: 0px;
">
  <country
    random-country="$ctrl.randomCountry"
  >
  </country>

  <what-to-see></what-to-see>

  <about></about>

<!-- Modal -->
<!-- <div class="modal fade" id="notusingmodalnow" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title pull-left" id="myModalLabel" style="color:#000">Country Information</h4>
      </div>
      <div class="modal-body">
				<iframe width="400" height="250" frameborder="0" style="border:0"
				src="{{randomCountry.mapUrl}}" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div> -->

</div>


<!-- <script src="https://www.gstatic.com/firebasejs/5.8.4/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyBipok2R5bf7XKtCUdkD5jcRvp8FXSYb2Q",
    authDomain: "nravel-24875.firebaseapp.com",
    databaseURL: "https://nravel-24875.firebaseio.com",
    projectId: "nravel-24875",
    storageBucket: "nravel-24875.appspot.com",
    messagingSenderId: "43607880316"
  };
  firebase.initializeApp(config);
</script> -->
